:root {
    --round-box: #333333;  
    --bg-colour: #ffffff; 
    --left-div: #c7bebe; 
}

.semi-round {
    background-color: var(--round-box);
}

body {
    background-color: var(--bg-colour);
}

.left-box {
    background-color: var(--left-div);
}

img {
    width: 512px;
    height: 512px;
    border-radius: 50%;
    border: solid 4px white;
}

.container {
    width: 95%;
}

.bottom-rounded {
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45% ;
}

.top-rounded {
    border-top-left-radius: 45%;
    border-top-right-radius: 45% ;
}

.bi{
    border-radius: 50%;
}

.bi-mortarboard {
    width: 40px;
    height: 40px;
    background-color: var(--left-div);
}

.skillBox {
    width: 100%;
    background-color: var(--bg-colour);
    border-color: aqua;
   border-bottom: solid;
}

.word {
    width: 90%;
    height:5px;
    background-color: green;
    border-radius: 15px;
    border: 1px solid black;
}